* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/public/assets/images/background3.png");
  background-size: cover;
  height: 100vh;
  margin-left: 350px;
}

.banner {
  margin-top: 25px;
}
.banner > img {
  max-width: 100px;
}

.card {
  width: 100px;
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.icon {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
}
.front {
  background-color: #184d94;
  transform: rotateY(180deg);
}

.back {
  background-color: #1b2688;
  color: rgb(218, 218, 218);
  font-size: 10px;
}

#menuRestart {
  margin-top: 20px;
  padding: 15px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(254, 248, 4);
  font-weight: bold;
  box-shadow: 1px 1px 2px black;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(223, 222, 227);
  color: rgb(232, 250, 80);
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  top: 0;
  left: 0;
}

#imgAliens {
  margin-top: 40px;
}
#restart {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(91, 185, 236);
  box-shadow: 1px 1px 2px black;
  font-weight: bold;
}

#gameBoard {
  max-width: 700px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  #gameBoard {
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr  ;
  }
  body {
    margin-left: 0px;
    background-image: url("/public/assets/images/backgoundmobile.png");

    background-color: rgb(223, 222, 227);
    padding:10px;
  }

  .card {
    width: 81px;
    height: 100px;
  }

  .icon {
    width: 100px;
    height: 100px;
    max-width:100px;
    max-height: 100px;
  }

  #imgAliens {
    margin-top: 60px;
    width: 80%;
  }
  #gameOver {
    font-size: 30px;
  }
}
